* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  list-style-type: none;
  font-family: Tourney SemiCondensed Black;
}

header {
  width: 100%;
  height: 180px;
  background-color: #fff15a;
}
header .header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
header .header .logomercadolibre {
  width: 200px;
  height: auto;
  align-self: flex-end;
}
header .header .logomercadolibre img {
  width: auto;
  height: 50px;
}
header .header form {
  width: 600px;
  height: auto;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px black;
}
header .header form input[type=text] {
  width: 100%;
  height: 40px;
  text-align: start;
}
header .header form:hover {
  font-size: 18px;
  transition-duration: 0.2s;
  transition-timing-function: 0.2s;
}
header .search {
  width: 100%;
  height: auto;
}
header .search .firstmenu {
  width: 100%;
  display: flex;
  justify-content: center;
}
header .search .firstmenu li {
  padding: 10px;
}
header .search .firstmenu a {
  color: #938513;
  text-decoration: none;
}
header .search .firstmenu .img-conenvio {
  width: 130px;
  height: auto;
}
header .search .firstmenu .img-conenvio img {
  width: 45px;
  height: 50px;
}
header .search .firstmenu a:hover {
  cursor: pointer;
  font-size: 15px;
  text-decoration: overline;
  color: #524904;
  transition-duration: 0.2s;
}
header .search .secondmenu {
  width: 100%;
  height: auto;
}
header .search .secondmenu ul {
  display: flex;
  justify-content: flex-end;
}
header .search .secondmenu ul li {
  padding: 10px;
}
header .search .secondmenu ul li a {
  color: #938513;
}
header .search .secondmenu a:hover {
  color: #524904;
}
@media (min-width: 320px) {
  header {
    width: 100%;
    height: auto;
  }
  header .logomercadolibre {
    width: 100%;
  }
  header .logomercadolibre img {
    width: 100%;
  }
  header form {
    width: 100%;
  }
  header form input[type=text] {
    width: 100%;
    height: 30px;
    font-size: 10px;
  }
  header .pointyqr {
    display: none;
  }
  header .search {
    width: 100%;
    height: 130px;
  }
  header .search .firstmenu {
    width: 320px;
    height: 70px;
    flex-wrap: wrap;
  }
  header .search .secondmenu {
    width: 100%;
    height: 50px;
  }
  header .search .secondmenu ul {
    width: 100%;
    height: 30px;
  }
}
@media (min-width: 576px) {
  header {
    width: 100%;
    height: auto;
  }
  header .logomercadolibre {
    width: 100%;
  }
  header .logomercadolibre img {
    width: 100%;
    height: auto;
  }
  header form {
    width: 100%;
  }
  header form input[type=text] {
    width: 100%;
    height: 30px;
    font-size: 10px;
  }
  header .pointyqr {
    display: none;
  }
  header .search {
    width: 100%;
    height: auto;
  }
  header .search .firstmenu {
    width: 100%;
    height: 50px;
  }
}
@media (min-width: 768px) {
  header {
    width: 100%;
    height: auto;
  }
  header .logomercadolibre {
    width: 100%;
  }
  header .logomercadolibre img {
    width: 100%;
    height: auto;
  }
  header form {
    width: 100%;
  }
  header form input[type=text] {
    width: 100%;
    height: 40px;
    font-size: 10px;
  }
}
@media (min-width: 1024px) {
  header {
    width: 100%;
    height: auto;
  }
  header div.logomercadolibre {
    width: 100%;
  }
  header div.logomercadolibre img {
    width: 100%;
  }
  header form {
    width: 100%;
  }
  header form input[type=text] {
    width: 100%;
    height: 40px;
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  header {
    width: 100%;
    height: auto;
  }
  header div.logomercadolibre {
    width: 100%;
  }
  header div.logomercadolibre img {
    width: 100%;
  }
  header form {
    width: 100%;
  }
  header form input [type=text] {
    width: 100%;
    height: 40px;
    font-size: 20px;
  }
}

.ofertas {
  width: 100%;
  height: auto;
}
.ofertas .slide {
  width: 100%;
  overflow: hidden;
}
.ofertas .slide ul {
  display: flex;
  padding: 0px;
  width: 400%;
  margin: 0%;
  animation: slide 20s infinite alternate;
}
.ofertas .slide ul li {
  width: 100%;
  list-style: none;
}
.ofertas .slide ul li img {
  width: 100%;
}
@media (min-width: 320px) {
  .ofertas {
    width: 100%;
    height: auto;
  }
  .ofertas .slide {
    width: 100%;
  }
  .ofertas .slide ul {
    width: 400%;
    height: auto;
    margin: 0%;
  }
  .ofertas .slide ul li {
    width: 100%;
  }
  .ofertas .slide ul li img {
    width: 100%;
    height: 120px;
  }
}
@media (min-width: 576px) {
  .ofertas {
    width: 100%;
    height: auto;
  }
  .ofertas .slide {
    width: 100%;
  }
  .ofertas .slide ul {
    width: 400%;
    height: auto;
  }
  .ofertas .slide ul li {
    width: 100%;
  }
  .ofertas .slide ul li img {
    width: 100%;
    height: 220px;
  }
}
@media (min-width: 768px) {
  .ofertas {
    width: 100%;
  }
  .ofertas .slide {
    width: 100%;
  }
  .ofertas .slide ul {
    width: 400%;
    height: auto;
  }
  .ofertas .slide ul li {
    width: 100%;
  }
  .ofertas .slide ul li img {
    width: 100%;
    height: 320px;
  }
}
@media (min-width: 1024px) {
  .ofertas {
    width: 100%;
  }
  .ofertas .slide {
    width: 100%;
  }
  .ofertas .slide ul {
    width: 400%;
    height: auto;
  }
  .ofertas .slide ul li {
    width: 100%;
    height: auto;
  }
  .ofertas .slide ul li img {
    width: 100%;
    height: 420px;
  }
}
@media (min-width: 1440px) {
  .ofertas {
    width: 100%;
  }
  .ofertas .slide {
    width: 100%;
  }
  .ofertas .slide ul {
    width: 400%;
    height: auto;
  }
  .ofertas .slide ul li {
    width: 100%;
    height: auto;
  }
  .ofertas .slide ul li img {
    width: 100%;
    height: 420px;
  }
}

@keyframes slide {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.listadodearticulos-1 {
  width: 100%;
  height: auto;
  background-color: #ebebeb;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid gray;
  text-align: center;
  padding: 10px;
}
.listadodearticulos-1 h2 {
  font-size: 20px;
  align-self: center;
}
.listadodearticulos-1 div {
  box-shadow: 0 1px 1px 0 gray;
  border-radius: 10px;
  padding: 10px;
}
.listadodearticulos-1 div img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.listadodearticulos-1 div p {
  font-size: 20px;
}
.listadodearticulos-1 div:hover {
  box-shadow: 2px 2px 2px 2px black;
  transition: 0.2s;
}
.listadodearticulos-1 div:hover img {
  width: 70%;
  transition: 0.2s;
}
.listadodearticulos-1 div:hover p {
  font-size: 25px;
  transition: 0.2s;
}
@media (min-width: 320px) {
  .listadodearticulos-1 {
    width: 100%;
    flex-wrap: wrap;
  }
  .listadodearticulos-1 h2 {
    font-size: 22px;
    padding: 2px;
    justify-content: space-evenly;
  }
  .listadodearticulos-1 div {
    width: 100%;
  }
  .listadodearticulos-1 div img {
    width: 70%;
  }
  .listadodearticulos-1 div p {
    font-size: 13px;
    text-align: center;
  }
}
@media (min-width: 576px) {
  .listadodearticulos-1 {
    width: 100%;
    flex-wrap: nowrap;
  }
  .listadodearticulos-1 h2 {
    font-size: 20px;
    justify-content: center;
  }
  .listadodearticulos-1 div {
    width: 100%;
  }
  .listadodearticulos-1 div img {
    width: 100%;
    height: auto;
  }
  .listadodearticulos-1 div p {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .listadodearticulos-1 {
    width: 100%;
    flex-wrap: nowrap;
  }
  .listadodearticulos-1 h2 {
    font-size: 25px;
    justify-content: center;
  }
  .listadodearticulos-1 div {
    width: 100%;
  }
  .listadodearticulos-1 div img {
    width: 100%;
  }
  .listadodearticulos-1 div p {
    font-size: 25px;
  }
  .listadodearticulos-1 div:hover h2 {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .listadodearticulos-1 {
    width: 100%;
    flex-wrap: nowrap;
  }
  .listadodearticulos-1 h2 {
    font-size: 30px;
  }
  .listadodearticulos-1 div {
    width: 100%;
  }
  .listadodearticulos-1 div img {
    width: 100%;
  }
  .listadodearticulos-1 p {
    font-size: 30px;
  }
}
@media (min-width: 1440px) {
  .listadodearticulos-1 {
    width: 100%;
    flex-wrap: nowrap;
  }
  .listadodearticulos-1 h2 {
    font-size: 33px;
  }
  .listadodearticulos-1 div {
    width: 100%;
  }
  .listadodearticulos-1 div img {
    width: 50%;
  }
}

.listadodearticulos-2 {
  width: 100%;
  height: auto;
  background-color: #ebebeb;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid gray;
  text-align: center;
}
.listadodearticulos-2 h2 {
  font-size: 30px;
  align-self: center;
}
.listadodearticulos-2 div {
  box-shadow: 0 1px 1px 0 gray;
  border-radius: 10px;
  text-align: center;
  align-self: center;
}
.listadodearticulos-2 div img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.listadodearticulos-2 div p {
  font-size: 20px;
  text-align: center;
}
.listadodearticulos-2 div:hover {
  box-shadow: 2px 2px 2px 2px gray;
  transition: 0.2s;
}
@media (min-width: 320px) {
  .listadodearticulos-2 {
    width: 100%;
    flex-wrap: wrap;
  }
  .listadodearticulos-2 h2 {
    font-size: 30px;
    text-align: center;
  }
}
@media (min-width: 576px) {
  .listadodearticulos-2 {
    width: 100%;
    flex-wrap: nowrap;
    height: auto;
  }
  .listadodearticulos-2 h2 {
    font-size: 30px;
    margin: 5px;
  }
  .listadodearticulos-2 div {
    width: 100%;
  }
  .listadodearticulos-2 div img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .listadodearticulos-2 {
    width: 100%;
    flex-wrap: nowrap;
    height: auto;
  }
  .listadodearticulos-2 h2 {
    font-size: 30px;
  }
  .listadodearticulos-2 div {
    width: 100%;
  }
  .listadodearticulos-2 div img {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .listadodearticulos-2 {
    width: 100%;
    flex-wrap: nowrap;
    height: auto;
  }
  .listadodearticulos-2 h2 {
    font-size: 30px;
  }
  .listadodearticulos-2 div {
    width: 100%;
  }
  .listadodearticulos-2 div img {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .listadodearticulos-2 {
    width: 100%;
    flex-wrap: nowrap;
  }
  .listadodearticulos-2 h2 {
    font-size: 33px;
  }
  .listadodearticulos-2 div {
    width: 100%;
  }
  .listadodearticulos-2 div img {
    width: 100%;
  }
}

.footer-1 {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px;
}
.footer-1 h2 {
  font-size: 30px;
}
@media (min-width: 320px) {
  .footer-1 {
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
  }
}
@media (min-width: 576px) {
  .footer-1 {
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .footer-1 {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .footer-1 {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
@media (min-width: 1440px) {
  .footer-1 {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.footer-2 {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 320px) {
  .footer-2 {
    width: 100%;
    justify-content: space-evenly;
  }
}
@media (min-width: 576px) {
  .footer-2 {
    width: 100%;
    justify-content: space-evenly;
  }
}
@media (min-width: 768px) {
  .footer-2 {
    width: 100%;
    justify-content: space-evenly;
  }
}
@media (min-width: 1024px) {
  .footer-2 {
    width: 100%;
    justify-content: space-evenly;
  }
}
@media (min-width: 1440px) {
  .footer-2 {
    width: 100%;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}

.volverinicio {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 10px 10px 0 10px;
}
.volverinicio img {
  width: 200px;
  height: 50px;
  align-self: center;
  border-radius: 20px;
}
@media (min-width: 320px) {
  .volverinicio {
    width: 100%;
    height: auto;
    justify-self: center;
  }
  .volverinicio img {
    width: 200px;
    height: 50px;
    align-self: center;
    border-radius: 20px;
  }
}
@media (min-width: 576px) {
  .volverinicio {
    width: 100%;
    height: auto;
    justify-self: center;
  }
  .volverinicio img {
    width: 200px;
    height: 50px;
    align-self: center;
    border-radius: 20px;
  }
}
@media (min-width: 768px) {
  .volverinicio {
    width: 100%;
    height: auto;
    justify-self: center;
  }
  .volverinicio img {
    width: 200px;
    height: 50px;
    align-self: center;
    border-radius: 20px;
  }
}
@media (min-width: 1024px) {
  .volverinicio {
    width: 100%;
    height: auto;
  }
  .volverinicio img {
    width: 200px;
    height: 50px;
    align-self: center;
    border-radius: 20px;
  }
}
@media (min-width: 1440px) {
  .volverinicio {
    width: 100%;
    height: auto;
  }
  .volverinicio img {
    width: 200px;
    height: 50px;
    align-self: center;
    border-radius: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
