
* {margin: 0%;padding: 0%;font-family: 'Mate SC', serif;box-sizing: border-box;}
    ul li {list-style: none;}
    *img {width: 100%;height: auto;}

        a {text-decoration: none;}

          body {background-color:#d7e0e3;border: 1px solid white;}
          .phone-section-1 h1 {font-size: 50px;color: #bac5c9;}

        .nav-1 ul  {margin: 3px;padding: 10px;display: flex;flex-direction: row;justify-content: space-evenly;font-size: 20px;padding-top: 20px}
        .nav-1 li  {background-color: ;border-radius: 20px;}
            .nav-1 a {color: #e2eaed;border-radius: 5px;padding:10px;}
                .nav-1 a:hover {color: rgb(196, 175, 12);}
                    .nav-1 ul li a:active {color:rgb(196, 175, 12) ;}
                        .nav-1 ul li a:visited {color: teal;}

       .video-1 {margin: 0% auto;width: 1500px;height: 750px;border: 3px solid #000000;border-radius: 16px;}
        .video-1 iframe {width:100%;height: 100%;padding: 3px;border-radius: 20px;}


    .h2-1 {font-size: 55px;text-align: center;color:#bac5c9;padding-top: 30px;display: flex;justify-content: center;}

    .p-1 {font-size: 35px;text-align: center;color:#dcdfdf;}

    .div-2 {width: 100%;height: 100%;}
        .div-2 img {padding: 3px;border-radius: 10px;}


    .div-3 {display: flex;justify-content: center;}
        .div-3 img {z-index: 1;position: relative;border-radius: 10px;}
        .div-3 h2 {font-size: 55px;color: #d7e0e3;position: absolute;z-index: 2;padding-top: 10%;padding-left: 10px;}
        
        .h3-1 {display: flex;justify-content: center;padding: 10px;font-size: 35px;}
            .footer-1 ul {display: flex;justify-content: center;font-size: 25px;}
                .footer-1 a {color: #dae2e4;}
        
        @media (min-width: 320px)
    {
     .phone-section-1 h1 {text-align: center;}
         .phone-section-1 nav ul {flex-direction: column;align-items: center;}
             .phone-section-1 .video-1 {width: 320px;height:500px;} 

     .phone-section-2 .div-2  {width: 320px;height: auto;}
        .phone-section-2 .div-2 img {width: 100%;height: auto;}


        .phone-section-2 .div-3  {padding: 0%;width: 320px;height: auto;}
            .phone-section-2 .div-3 div h2 {font-size: 10px;left: -5px;}
                .phone-section-2 .div-3 img {width: 320px;height: auto;}
    }


        @media (min-width: 414px) 
     {
         .phone-section-2 .div-2 {width: 414px;height: auto;}
            .phone-section-2 .div-3 {width: 414px;height: auto;}
                .phone-section-2 .div-3 .h2-2 {font-size: 15px;}
    }

        @media (min-width: 768px)
   {
     .phone-section-1 h1 {text-align: center;}
         .phone-section-1 nav ul {display: flex;flex-direction: row;justify-content: space-around;font-size: 25px;}

            .phone-section-1 .video-1 {width: 768px;height:640;}
                .phone-section-1 .video-1 iframe {width: 100%;height: 100%;}

    .phone-section-2 .div-2 img {width: 768px;height: auto;}
        .phone-section-2 .div-3 {width: 768px;height: auto;}
            .phone-section-2 .div-3 img {width: 768px;height: auto;margin: 5px;}
                .phone-section-2 .div-3 .h2-2 {font-size: 30px;} 
            }
            
            @media (min-width: 1200px) 
            
            {
                .phone-section-1 .video-1 {width: 1200px;height:700px;}
                    .h2-1 {padding-bottom: 6px;}
                        .p-1 {padding-bottom: 20px;}

                .phone-section-2 .div-2 {width: 1200px;height: auto;}
                    .phone-section-2 .div-2 img {width: 1200px;height: auto;padding: 2px;}
                    
                .phone-section-2 .div-3 {width: 1200px;height: auto;}
        
             }   