body {background-color: lightcyan; border-top; background-image;}
section {border-style: solid}
.titulo {padding-left: 530px;}
#redessociales {border: solid;}
img {padding-left: 830px;padding-top;}
.experiencialaboral {padding-left: 1px;font-size:x-small; }
.div1 {border-style: solid}
.div2 {border-style: solid}

