* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    background: rgb(237, 237, 237);
    box-sizing: border-box;
    font-family: Tourney SemiCondensed Black;

    main {
        height: inherit;
        width: inherit;
    

        header {
            width: 100%;
            height: 100%;


            div.logoml-register {
                width: 100%;
                height: 200px;
                background: #fff15f;
            }

            section {
                width: 100%;
                height: 100%;
                display:flex;
                flex-direction: column;
                align-items: center;
                
                
                form {
                    width: 100%;
                    border: 2px solid white;
                    border-radius: 10px;
                    background: white;
                    padding: 30px;
        
                    ::placeholder {
                        color:lightgray;
                    }
        
                    h2 {
                        font-size: 24px;
                        margin-bottom: 20px;
                        text-align: center;
                        color: black;
                        text-decoration: none;
                    }
        
                    .h2-ingreso {
                        font-size: 23px;
                    }
        
                    .h2-ingreso:hover {
                        font-size: 29px;
                        text-decoration: underline;
                        transition: 0.02s;
                    }
        
                    a {
                        text-decoration-line: none;
                      
                        color: gray;
                    }
        
                    a:hover {
                        font-size: 17px;
                        transition: 0.02s;
                        color: black;
                    }
        
                    .inputs {
                        width: 100%;
                        padding: 10px;
                        border-radius: 4px;
                        margin-bottom: 1rem;
                        font-size: 18px;
                    }
        
                    p {
                        height: 40px;
                        text-align: center;
                        
                    }
                }
            }
        }
    }
}